Bug: /chores/{choreId}/execute API-call ignores { 'tracked_time': ... }

While tracking a chore via the REST API, the REST API browser suggests that the tracked_time can be manually set in the post body. However this field seems to be ignored by grocy and it only uses the time that the API request was sent.

Tested a locally installed v3.3.1 and https://en.demo.grocy.info/api#/Chores/post_chores__choreId__execute

The REST API curl command (though my tests where via the swagger API browser without curl): 

  curl -X 'POST' \
    'https://en.demo.grocy.info/api/chores/7/execute' \
    -H 'accept: application/json' \
    -H 'Content-Type: application/json' \
    -d '{
    "tracked_time": "2022-11-01T10:53:52.061Z",
    "done_by": 0,
    "skipped": false
  }'

Response body:

  {
    "id": "158",
    "chore_id": "7",
    "tracked_time": "2022-11-01 10:54:21",
    "done_by_user_id": "1",
    "row_created_timestamp": "2022-11-01 10:54:21",
    "undone": "0",
    "undone_timestamp": null,
    "skipped": "0"
  }

as you can see the tracked_time in the response doesn't match the response_time from the post. Looking at the journal in Grocy I verified that the wrong tracked_time was recorded.

<!--
Please make sure to:

- Describe the bug as detailed as possible by providing the exact steps how to reproduce it
- Attach screenshots where useful
- Check if the problem was maybe already reported or fixed by searching open and closed issues here
- Keep it to one topic per issue

Please also try to reproduce the problem on the pre-release demo: => https://demo-prerelease.grocy.info
- Use a private demo instance to make your example persistent
- If the problem is not reproducible there, it's most likely not a bug - please use the r/grocy subreddit for general questions / help: => https://www.reddit.com/r/grocy
-->


> While tracking a chore via the REST API, the REST API browser suggests that the tracked_time can be manually set in the post body. However this field seems to be ignored by grocy and it only uses the time that the API request was sent.

Can't be the case at all, since the web frontend uses the API for everything, as you already mentioned.

&nbsp;
> The REST API curl command (though my tests where via the swagger API browser without curl):
> ...
>  "tracked_time": "2022-11-01T10:53:52.061Z",
> ...
> Response body:
> ...
>  "tracked_time": "2022-11-01 10:54:21",

Don't know what happened with the seconds, but you just hit #214 and exactly that was also already answered in #1799.

Make sure that the server and client timezone matches (which should be no problem and the the normal case for self-hosted environments and can be verified by using the [`/system/time` endpoint](https://demo.grocy.info/api/system/time)), don't provide timezone information in any datetime field used on any API endpoint and everything will work.

Thank you for your quick reply.

I had an deeper look at it and the problem has nothing to do with time
zones. 

> > The REST API curl command (though my tests where via the swagger API
> > browser without curl): ...
> >  "tracked_time": "2022-11-01T10:53:52.061Z",
> > ...
> > Response body:
> > ...
> >  "tracked_time": "2022-11-01 10:54:21",  

The problem is that the tracked_time is in a different date-time format
than Grocy accepts. In grocy.openapi.json tracked_time is defined as:


| "properties": {
|         "tracked_time": {
|                 "type": "string",
|                 "format": "date-time",
|                 "description": "The time of when the chore was executed, when omitted, the current time is used"

format date-time is [defined in the
Swagger-Documenation](https://swagger.io/docs/specification/data-models/data-types/#string)
as

| date-time – the date-time notation as defined by RFC 3339, section 5.6, for example, 2017-07-21T17:32:28Z

However in controllers/ChoresApiController.php,
function TrackChoreExecution:

| if (array_key_exists('tracked_time', $requestBody) && (IsIsoDateTime($requestBody['tracked_time']) || IsIsoDate($requestBody['tracked_time'])))
| {
|         $trackedTime = $requestBody['tracked_time'];
| }

where IsIsoDateTime() is defined in helpers/extentions.php in the
format:

| 'Y-m-d H:i:s'

which isn't RFC 3339. When I send the date-time in that format
everything works as intended which is also what the web frontend does.

So grocy's openapi isn't telling the full story, to say it kindly. 

The harder question is where to go from here.

I see several options:

1. Do nothing

2. Port Grocy's date-times to RFC 3339 to match the openapi documentation

3. Use a custom format definition in the openapi e.g. "iso-date-time" or
"short-date-time" as allowed by the Swagger specification:

| However, format is an open value, so you can use any formats, even not
| those defined by the OpenAPI Specification ...

4. Accept RFC 3339 formated dates in addition to the current format and leave the
outputs unchanged. e.g.:

    if (array_key_exists('tracked_time', $requestBody))
    { 
            if (IsIsoDate($requestBody['tracked_time']))
            {
                    $trackedTime = $requestBody['tracked_time'];
            }
            else
            {
                    $parsed = new DateTime($requestBody['tracked_time']);
                    $trackedTime = $parsed->format('Y-m-d H:i:s');
            }
    }

I guess this isn't important enough to decide between the options. So I
guess we will be doing 1 by default

-- Adaschma


That's exactly what I meant with _"don't provide timezone information in any datetime field used on any API endpoint"_ - your example timestamp included timezone information (mind the Z at the end).

[/api](https://demo-prerelease.grocy.info/api) is just an example playground to give an overview of the API, nothing more. Especially it was never and will be never a kind of binding agreement how grocy's API works in every deepest detail.

And yes, 1. is what I will change about that, since nothing doesn't work.